$primary-color: #0d3338;
$secondary-color: #AFD051;
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

* {
    box-sizing: border-box;
  }

  body {
    // background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
  }

#coverImg {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    transition: all 1.5s ease-in-out;

    &:hover {
        transform: scale(3);
        opacity: 0;
    }
}